<!-- EDIT PROFILE FORM -->
<div class="container">
  <div class="row">
    <div class="section">

      <div class="col s8 offset-s2 formtemplate">
        <br>
        <h4 class="center">Edit
          <%= resource_name.to_s.humanize %></h4>

        <div align="center" class="row">
          <%#= devise_error_messages! %>
          <% flash.each do |name, msg| %>

          <% if msg.class == Array %>
          <% msg.each do |message| %>
          <% if message == "Tel is not a number" %>
          <%= content_tag :div, "Contact number should not contain alphabets", :id => "flash_#{name}" %>
        <% else %>
          <%= content_tag :div, message, :id => "flash_#{name}" %>
          <% end %>
          <% end %>
          <% end %>
          <% end %>

        </div>

        <div class="input-field center">
          <div class="input-field inline"></div>
          <img onclick="openUploadWidget()" src="<%= current_account.profile_image %>" class="profile_image">
          <p >Click to change</p>
        </div>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <!-- <%= devise_error_messages! %> -->

      <%= f.hidden_field :profile_image %>

      <div class="input-field col s8 offset-s2">
        <i class="material-icons prefix">account_circle</i>
        <%= f.text_field :name, required: true, autofocus: true %>
        <%= f.label :name %><br/>
      </div>

      <div class="input-field col s8 offset-s2">
        <i class="material-icons prefix">email</i>
        <%= f.email_field :email, required: true %>
        <%= f.label :email %><br/>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for:
        <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="input-field col s8 offset-s2">
        <i class="material-icons prefix">call</i>
        <%= f.telephone_field :tel, required: true %>
        <%= f.label :tel, "Contact" %><br/>
      </div>

      <div class="input-field col s8 offset-s2">
        <i class="material-icons prefix">card_membership
        </i>
        <%= f.text_field :identification, required: true %>
        <%= f.label :identification, "UEN or NRIC No" %><br/>
      </div>

      <div class="input-field col s8 offset-s2">
        <i class="material-icons prefix">lock</i>
        <%= f.password_field :password, autocomplete: "off" %>
        <%= f.label :password, "New Password (min 6 chars)" %><br/>
      </div>

      <div class="input-field col s8 offset-s2">
        <i class="material-icons prefix">lock</i>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
        <%= f.label :password_confirmation, "New Password Confirmation" %><br/>
      </div>

      <div class="input-field col s8 offset-s2">
        <i class="material-icons prefix">lock_outline</i>
        <%= f.password_field :current_password, required: true, autocomplete: "off" %>
        <%= f.label :current_password, "Current Password (do not leave blank)" %>
      </div>

      <div class="input-field col s8 offset-s2">
        <div class="actions">
          <%= f.submit "Update", class: 'btn waves-effect waves-light right formbttn' %>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>
</div>

<div class="container">
<div class="row">
  <div class="section">

    <div class="col s8 offset-s2 formtemplate center">
      <br>
      <h4>Delete Account</h4>

      <p>Unhappy?
        <%= button_to "Delete my account", registration_path(resource_name), class:'btn waves-effect waves-light center formbttn', data: { confirm: "Are you sure?" }, method: :delete %></p>
      <!-- <%= link_to "Back", :back %> -->
    </div>

  </div>
</div>
</div>
