<!-- INDIVIDUAL SIGNUP FORM -->
<div class="container">
  <div class="row">
    <div class="section">

      <div class="col s8 offset-s2 formtemplate">
        <br>
        <h4 class="center">Signup with GiftLoop</h4>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="input-field col s8 offset-s2">
          <i class="material-icons prefix">account_circle</i>
          <%= f.text_field :name, required: true, autofocus: true %>
          <%= f.label :name %><br/>
        </div>

        <div class="input-field col s8 offset-s2">
          <i class="material-icons prefix">email</i>
          <%= f.email_field :email, required: true %>
          <%= f.label :email %><br/>
        </div>

        <div class="input-field col s8 offset-s2">
          <i class="material-icons prefix">call</i>
          <%= f.telephone_field :tel, required: true %>
          <%= f.label :tel, "Contact" %><br/>
        </div>

        <div class="input-field col s8 offset-s2">
          <i class="material-icons prefix">card_membership</i>
          <%= f.text_field :identification, required: true %>
          <%= f.label :identification, "UEN or NRIC No" %><br/>
        </div>

        <div class="input-field col s8 offset-s2">
          <i class="material-icons prefix">lock</i>
          <%= f.password_field :password, required: true, autocomplete: "off" %>
          <%= f.label :password, "Password (6 characters minimum)"%><br/>
        </div>

        <div class="input-field col s8 offset-s2">
          <i class="material-icons prefix">lock</i>
          <%= f.password_field :password_confirmation, required: true, autocomplete: "off" %>
          <%= f.label :password_confirmation, "Password Confirmation" %><br/>
        </div>

        <div class="file-field col s8 offset-s2">
          <div class="btn">
            <span>Upload profile picture</span>
            <%= f.file_field :profile_image, required: true %>
          </div>

          <div class="file-path-wrapper">
            <%= f.text_field :profile_image, class: 'file-path' %>
          </div>
        </div>

        <%= f.hidden_field :account_type, :value => params[:account_type] %>

        <% if params[:account_type] == "organisation" %>
          <%= f.hidden_field :time_credit, value: "1000" %>
        <% else %>
          <%= f.hidden_field :time_credit, value: "0" %>
        <% end %>

        <div class="input-field col s8 offset-s2">
          <div class="actions">
            <%= f.submit "Submit", class: 'btn waves-effect waves-light right formbttn' %>
          </div>
        </div>
        <% end %>

        <!-- <%= render "devise/shared/links" %> -->
      </div>
    </div>
  </div>
</div>
