<div class="container center">
  <h2>Sign up as</h2>
<div class="row">
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Individual</a>
  <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Organisation</a>

</div>
</div>

<!-- INDIVIDUAL SIGNUP FORM -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Individual signup</h4>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :tel %><br />
      <%= f.telephone_field :tel %>
    </div>

    <div class="field">
      <%= f.label :identification_number %><br />
      <%= f.text_field :identification %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions center">
      <%= f.submit "Sign up" %>
    </div>
    <% end %>

    <!-- <%= render "devise/shared/links" %> -->
  </div>
</div>


<!-- ORGANISATION SIGNUP FORM -->
<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Organisation signup</h4>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :tel %><br />
      <%= f.telephone_field :tel %>
    </div>

    <div class="field">
      <%= f.label :UEN_number %><br />
      <%= f.text_field :identification %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions center">
      <%= f.submit "Sign up" %>
    </div>
    <% end %>

    <!-- <%= render "devise/shared/links" %> -->
  </div>
</div>
