<div class="container">

  <div class="row">
    <br>
    <%= form_tag(rewards_path, method: :get) do %>
    <div class="input-field col s5 m4 l4">
      <%= select_tag(:area, options_for_select(@all_areas), include_blank: 'Filter by location') %>
    </div>

    <div class="input-field col s4 m3 l3">
      <%= select_tag(:date, options_for_select(@all_dates), include_blank: 'Filter by date') %>
    </div>

    <div class="input-field col s2 m3 l3">
      <%= submit_tag 'Search', name: nil, class: 'btn waves-effect waves-light' %>
    </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col s12">
      <h5>
      <% if params[:area] || params[:date] %>
        <% if params[:date].blank? %>
          Rewards at <%= params[:area] %>
        <% elsif params[:area].blank? %>
          Rewards on <%= params[:date] %>
        <% else %>
          Rewards at <%= params[:area] %> on <%= params[:date] %>
        <% end %>
      <% end %>
      </h5>
    </div>
  </div>

  <div class="row">
    <% @all_rewards.each do |reward| %>
    <div class="col s12 m6 l3">
      <div class="card hoverable">
        <a href="/rewards/<%= reward.id %>">
          <span class='div-link'></span>
        </a>
        <div class="card-image">
          <img src="<%= reward.image %>">
        </div>
        <div class="card-content">
          <h5 class="truncate"><%= reward.name %></h5>
          <p><%= reward.date.strftime('%d %B %Y (%A)') %></p>
          <p><%= reward.start_time.strftime('%I:%M%p') %>
            to
            <%= reward.end_time.strftime('%I:%M%p') %></p>
          <p><%= reward.area %></p>
        </div>
        <div class="card-action">
          <p><%= reward.opening %>
            Openings
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
