<div class="container">

  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="<%= @current_reward.image%>">
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <h3><%= @current_reward.name %></h3>
      <p>Date:
        <%= @current_reward.date.strftime('%d %B %Y (%A)') %>
        <p>Time:
          <%= @current_reward.start_time.strftime('%I:%M%p') %>
          to
          <%= @current_reward.end_time.strftime('%I:%M%p') %></p>
        <p>Address:
          <%= @current_reward.address %></p>
        <p>Openings:
          <%= @current_reward.opening %></p>
        <p>Time Credits:
          <%= @current_reward.unit_time_credit %></p>
        <p>By:
          <%= @creator.name %></p>
      </div>
    </div>

    <p><%= @current_reward.description %></p>
    <br>

    <% if @accountsid.select{ |accountid| accountid == current_account.id }.length == 0 && current_account.id != @creator.id %>
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Register<i class="material-icons right">create</i>
    </button>
    <% end %>

    <% if current_account == @creator %>
    <h4>List of Attendees</h4>
    <table class="striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Contact</th>
          <th>Email</th>
        </tr>
      </thead>

      <tbody>
        <% @current_reward.accounts.each do |account| %>
        <tr>
          <td><%= account.name %></td>
          <td><%= account.tel %></td>
          <td><%= account.email %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= button_to "delete reward", reward_path(@current_reward), method: :delete, class: "btn waves-effect waves-light" %>
    <% end %>

  </div>
  <br>
