<div class="navbar-fixed">
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li>
      <a href="/accounts/edit">Update Particulars</a>
    </li>
    <li>
      <a href="/requests/new">Create Request</a>
    </li>
    <li>
      <a href="#!">My Requests</a>
    </li>
    <li>
      <a href="#!">My Rewards</a>
    </li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
          <a href="/" class="logo-img"><img src="/assets/Logo.png"></a>
        </li>
        <li>
          <a href="/requests">Requests</a>
        </li>
        <li>
          <a href="/rewards">Rewards</a>
        </li>
      </ul>

      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <!-- Dropdown Trigger -->
        <% if current_account %>
        <li>
          <a class="dropdown-button" href="#!" data-activates="dropdown1">Hello, <%= current_account.name %><i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <li>&nbsp;<%= current_account.time_credit %> credits &nbsp;&nbsp;</li>

        <li>
          <%= link_to "Logout", destroy_account_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <a class="modal-trigger" href="#modal1">Signup</a>
        </li>
        <li>
          <a href="/accounts/sign_in">Login</a>
        </li>
        <% end %>

      </ul>
    </div>
  </nav>
</div>

<div id="modal1" class="modal center">
  <div class="modal-content">
    <h4>Sign up as</h4>
    <%= link_to "Individual", "/accounts/sign_up?account_type=individual", class: "btn btn-primary" %>
    <%= link_to "Organisation", "/accounts/sign_up?account_type=organisation", class: "btn btn-primary" %>
  </div>
</div>
