<div class="container">
  <div class="row">
    <div class="section">

      <div class="col s10 offset-s1 formtemplate">
        <br>
        <h4 class="center">Edit Request</h4>

        <div class="input-field col s8 offset-s2 center">
          <div class="input-field inline">
            <input disabled value="Upload event image" id="disabled" type="text" class="validate">
          </div>
          <a href="#" id="widget_opener">Event images</a>
        </div>

        <%= form_for @request do |f| %>

        <div class="input-field col s8 offset-s2">
          <i class="material-icons prefix">event</i>
          <%= f.text_field :name %>
          <%= f.label :name %>
        </div>

        <div class="input-field col s8 offset-s2">
          <i class="material-icons prefix">date_range</i>
          <%= f.text_field :date, class: 'datepicker', value: @request.date.strftime('%d %B %Y') %>
          <%= f.label :date %>
        </div>

        <div class="col s8 offset-s2">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">access_time</i>
              <%= f.text_field :start_time, class: 'timepicker', value: @request.start_time.strftime('%I:%M%p') %>
              <%= f.label :start_time, "Start Time" %>
            </div>

            <div class="input-field col s6">
              <%= f.text_field :end_time, class: 'timepicker', value: @request.end_time.strftime('%I:%M%p') %>
              <%= f.label :end_time, "End Time" %>
            </div>
          </div>
        </div>

        <div class="col s8 offset-s2">
          <div class="row">
            <div class="input-field col s8">
              <i class="material-icons prefix">location_on</i>
              <%= f.text_field :address %>
              <%= f.label :address %>
            </div>

            <div class="input-field col s4">
              <%= f.text_field :area, class: "autocomplete" %>
              <%= f.label :area %>
            </div>
          </div>
        </div>

        <div class="input-field col s8 offset-s2">
          <i class="material-icons prefix">description</i>
          <%= f.text_area :description, class: 'materialize-textarea' %>
          <%= f.label :description %>
        </div>

        <%= f.hidden_field :image, value: '' %>

        <div class="input-field col s8 offset-s2">
          <%= f.submit "Update", class: 'btn waves-effect waves-light right formbttn' %>
        </div>

        <% end %>
      </div>

    </div>
  </div>
</div>
