<div class="container">

  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="<%= @current_request.image%>">
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <h3><%= @current_request.name %></h3>
      <p>Date:
        <%= @current_request.date.strftime('%d %B %Y (%A)') %>
        <p>Time:
          <%= @current_request.start_time.strftime('%I:%M%p') %>
          to
          <%= @current_request.end_time.strftime('%I:%M%p') %></p>
        <p>Address:
          <%= @current_request.address %></p>
        <p>Openings:
          <%= @current_request.opening %></p>
        <p>Time Credits:
          <%= @current_request.unit_time_credit %></p>
        <p>By:
          <%= @creator.name %></p>
      </div>
    </div>

    <p><%= @current_request.description %></p>
    <br>

    <% if current_account.id != nil && @accountsid.select{ |accountid| accountid == current_account.id }.length == 0 && current_account.id != @creator.id && @current_request.opening != 0 %>
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Register<i class="material-icons right">create</i>
    </button>
    <% end %>

    <% if current_account == @creator %>
    <h4>List of Attendees</h4>
    <table class="striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Contact</th>
          <th>Email</th>
          <th>Attendance</th>
        </tr>
      </thead>

      <tbody>
        <% @current_request.accounts.each do |account| %>
        <tr>
          <td><%= account.name %></td>
          <td><%= account.tel %></td>
          <td><%= account.email %></td>
          <td><%= button_to "attended", "", class: "btn waves-effect waves-light" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br>

    <% if @accountsid.length == 0 %>
    <%= button_to "delete request", request_path(@current_request), method: :delete, class: "btn waves-effect waves-light" %>
    <% end %>
    <% end %>

  </div>
  <br>
