<!DOCTYPE html>
<html>
  <head>
    <title>Gift Loop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <!-- devise configuration -->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          Footer here
        </div>
      </div>
    </footer>

  </body>
</html>
