<!DOCTYPE html>
<html>
  <head>
    <title>Gift Loop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <!-- devise configuration -->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <!-- Modal Trigger Start -->
<button data-target="modal1" class="btn modal-trigger">Signup</button>
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Login</a>

<!-- Modal signup -->

<!-- Modal login -->
<!-- <div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>Login here</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div> -->
<!-- modals end -->


    <%= yield %>

    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          Footer here
        </div>
      </div>

    </footer>

  </body>

</html>
