<!DOCTYPE html>
<html>
  <head>
    <title>Gift Loop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar-fixed">
      <!-- Dropdown Structure -->
          <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">Update Particulars</a></li>
            <li><a href="#!">Create Event</a></li>
            <li><a href="#!">Requests done</a></li>
            <li><a href="#!">Rewards redeemed</a></li>
          </ul>
      <nav>
        <div class="nav-wrapper">
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/requests" class="logo-img"><img src="/assets/Logo.png"></a></li>
            <li class="active"><a href="/requests">Requests</a></li>
            <li class="active"><a href="/rewards">Rewards</a></li>
          </ul>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Your Name<i class="material-icons right">arrow_drop_down</i></a></li>
            <li class="active"><a href="/signup">Signup</a></li>
            <li class="active"><a href="/login">Login</a></li>
            <li class="active"><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- devise configuration -->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          Footer here
        </div>
      </div>
    </footer>

  </body>
</html>
