<div class="container">
  <div class="row">
    <h3>My Requests</h3>

    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <% if current_account.account_type == "individual" %>
          <li class="tab col s6">
            <a href="#created">Created</a>
          </li>
          <li class="tab col s6">
            <a href="#registered">Registered</a>
          </li>
          <% else %>
          <li class="tab col s12">
            <a href="#created">Created</a>
          </li>
          <% end %>
        </ul>
      </div>

      <div id="created" class="col s12">
        <% @requests_created.each do |request| %>
        <div class="col s12 m6 l3">
          <div class="card hoverable">
            <a href="/requests/<%= request.id %>">
              <span class='div-link'></span>
            </a>
            <div class="card-image">
              <img src="<%= request.image %>">
            </div>
            <div class="card-content">

              <h5 class="truncate"><%= request.name %></h5>
              <p><%= request.date.strftime('%d %B %Y (%A)') %></p>
              <p><%= request.start_time.strftime('%I:%M%p') %> to
                <%= request.end_time.strftime('%I:%M%p') %></p>
              <p><%= request.unit_time_credit %> credits per pax</p>
              <p><%= request.area %></p>
            </div>
            <div class="card-action">
              <p><%= request.opening %>
                Openings</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <div id="registered" class="col s12">
        <% @requests_registered.each do |request| %>
        <div class="col s12 m6 l3">
          <div class="card hoverable">
            <a href="/requests/<%= request.id %>">
              <span class='div-link'></span>
            </a>
            <div class="card-image">
              <img src="<%= request.image %>">
            </div>
            <div class="card-content">

              <h5 class="truncate"><%= request.name %></h5>
              <p><%= request.date.strftime('%d %B %Y (%A)') %></p>
              <p><%= request.start_time.strftime('%I:%M%p') %>
                to
                <%= request.end_time.strftime('%I:%M%p') %></p>
              <p><%= request.unit_time_credit %> credits per pax</p>
              <p><%= request.area %></p>
            </div>
            <div class="card-action">
              <p><%= request.opening %>
                Openings</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
