<div class="container">
  <div class="row">
    <h3>My Rewards</h3>

    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3">
            <a href="#created">Created</a>
          </li>
          <li class="tab col s3">
            <a href="#registered">Registered</a>
          </li>
        </ul>
      </div>

      <div id="created" class="col s12">
        <% @rewards_created.each do |reward| %>
        <div class="col s3 m3">
          <div class="card hoverable">
            <a href="/rewards/<%= reward.id %>">
              <span class='div-link'></span>
            </a>
            <div class="card-image">
              <img src="<%= reward.image %>">
            </div>
            <div class="card-content">
              <h5><%= reward.name %></h5>
              <p><%= reward.date.strftime('%d %B %Y (%A)') %></p>
              <p><%= reward.start_time.strftime('%I:%M%p') %>
                to
                <%= reward.end_time.strftime('%I:%M%p') %></p>
              <p><%= reward.area %></p>
            </div>
            <div class="card-action">
              <p><%= reward.opening %>
                Openings</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <div id="registered" class="col s12">
        <% @rewards_registered.each do |reward| %>
        <div class="col s3 m3">
          <div class="card hoverable">
            <a href="/rewards/<%= reward.id %>">
              <span class='div-link'></span>
            </a>
            <div class="card-image">
              <img src="<%= reward.image %>">
            </div>
            <div class="card-content">
              <h5><%= reward.name %></h5>
              <p><%= reward.date.strftime('%d %B %Y (%A)') %></p>
              <p><%= reward.start_time.strftime('%I:%M%p') %>
                to
                <%= reward.end_time.strftime('%I:%M%p') %></p>
              <p><%= reward.area %></p>
            </div>
            <div class="card-action">
              <p><%= reward.opening %>
                Openings</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
